= form_for :ta_url, url: import_attractions_path, method: :post do |f|
  = f.text_field :url

%ul
  - @attractions.stats(params[:type], params[:name]).each do |region, stats|
    %li
      = link_to region, attractions_path(type: params[:type], name: region)
      = "#{stats[:attractions]} / #{stats[:visited]} = #{stats[:percent]}"
