%ul
  - @attractions.stats(params[:type], params[:name]).each do |region, stats|
    %li
      = link_to region, attractions_path(type: params[:type], name: region)
      = "#{stats[:attractions]} / #{stats[:visited]} = #{stats[:percent]}"
