

= link_to 'Attraction list', list_attractions_path

= form_for :ta_url, url: import_attractions_path, method: :post do |f|
  = f.text_field :url

%ul
  - @attractions.stats(params[:type]).each do |region, stats|
    %li
      = link_to region, attractions_path(type: Attraction.next_type(params[:type]), name: region)
      = "#{stats[:attractions]} / #{stats[:visited]} = #{stats[:percent]}"
